@model Domain.ConfigEmail

@{
    ViewData["Title"] = "حذف ایمیل";
}



<h3 class="mt-4">از حذف این مورد مطمئن هستید؟</h3>
<div>
    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Port)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Port)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Smtp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Smtp)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-action="Index">بازگشت</a>
    </form>
</div>
