@model Domain.Report

@{
    ViewData["Title"] = "حذف گزارش آگهی";
}

<h1 class="mt-4">حذف گزارش آگهی</h1>

<h3>آیا از حذف این مورد مطمین هستید؟</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._Report_SaleAd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._Report_SaleAd.Brand)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-action="Index">بازگشت</a>
    </form>
</div>
